In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [10]:
data = {
    'диаметр_см': [25, 30, 35, 40, 25, 30, 35, 40, 25, 30],
    'количество_ингредиентов': [3, 3, 3, 3, 5, 5, 5, 5, 7, 7],
    'цена_руб': [300, 400, 500, 600, 350, 450, 550, 650, 400, 500]
}
df = pd.DataFrame(data)
df.head()

   диаметр_см  количество_ингредиентов  цена_руб
0          25                        3       300
1          30                        3       400
2          35                        3       500
3          40                        3       600
4          25                        5       350

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(
    df[['диаметр_см', 'количество_ингредиентов']],
    df['цена_руб'],
    test_size=0.2,
    random_state=42
)

   диаметр_см  количество_ингредиентов
5          30                        5
0          25                        3
7          40                        5
2          35                        3
9          30                        7