In [2]:
import pandas as pd

In [7]:
dataset_1 = pd.read_csv('/home/Temmik556/Рабочий стол/VS_CODE_ML/Datasets/Homework_in_VK.csv')

dataset_1.head()

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders,Unnamed: 7,Unnamed: 8
0,2019-07-02,40065,7501,23,Суши,"54,0","1,0",NaN,NaN
1,2019-08-27,48058,33226,23,Шаурма,"0,0","0,0",NaN,NaN
2,2019-09-25,35430,26220,25,Пицца,"2,0","0,0",NaN,NaN
3,2019-09-21,56553,38601,23,Шашлыки,"1,0","0,0",NaN,NaN
4,2019-09-21,43919,30984,25,Суши,"6,0","0,0",NaN,NaN

In [31]:
print(dataset_1['city_id'].unique())
dataset_2 = dataset_1[dataset_1['spec'] == 'Рыба']
dataset_2.head()
dataset_1.dtypes
dataset_4 = dataset_1[(dataset_1['vendor_id'] == 40065) & (dataset_1['successful_orders'] < '20')]
dataset_4
dataset_4['date'].nunique()

[23 25 26 24]

43